openapi: 3.1.0
info:
  title: Galileo Public Annotations Integrations API
  version: v2
  description: 'Best-effort OpenAPI 3.1 description of the Galileo (galileo.ai) public

    REST API for projects, datasets, experiments, traces, prompts, integrations,

    annotations, and groups. Generated from the public OpenAPI index at

    https://api.galileo.ai/public/v2/openapi.json; not an official copy.

    '
  contact:
    name: Galileo Developer Docs
    url: https://docs.galileo.ai/
servers:
- url: https://api.galileo.ai
  description: Galileo hosted production
security:
- apiKeyHeader: []
- bearerAuth: []
- basicAuth: []
tags:
- name: Integrations
paths:
  /v2/integrations/available:
    get:
      tags:
      - Integrations
      operationId: listAvailableIntegrations
      responses:
        '200':
          $ref: '#/components/responses/Ok'
  /v2/integrations/{name}:
    parameters:
    - in: path
      name: name
      required: true
      schema:
        type: string
    get:
      tags:
      - Integrations
      operationId: getIntegration
      responses:
        '200':
          $ref: '#/components/responses/Ok'
  /v2/integrations/{name}/status:
    parameters:
    - in: path
      name: name
      required: true
      schema:
        type: string
    get:
      tags:
      - Integrations
      operationId: getIntegrationStatus
      responses:
        '200':
          $ref: '#/components/responses/Ok'
components:
  responses:
    Ok:
      description: Successful response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Object'
  schemas:
    Object:
      type: object
      additionalProperties: true
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: Galileo-API-Key
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 password bearer (JWT) issued by /v2/token
    basicAuth:
      type: http
      scheme: basic
